body {
    margin: 5%;
    width: 90%;
    height: 100%;
    font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.4em;
    background-color: #DADADA;
}

@media print {
    #products-column #input-row #add-button{
        font-size: 0.8em;
    }

    #info-badge {
        background: #FFFFFF;
        border: thin solid #6510bc;
    }

    #info-badge #title {
        display: none;
    }

    #info-badge #title:after {
        content: "Nikolay Bikchentaev";
    }

    #info-badge #created-by{
        visibility: hidden;
    }
}

@media (max-width: 800px) {
    #products-column{
        float: none;!important;
        position: relative!important;
        display: inline-block!important;
        width: 100%!important;
        margin: 5px!important;
    }

    #products-column .product {
        padding: 12px!important;
    }

    #status-column {
        float: none!important;
        position: relative!important;
        display: inline-block!important;
        width: 100%!important;
        height: 50%!important;
        margin: 5px!important;
        padding-right: 14px!important;
    }

    html {
        margin-right: 25px!important;
        align-items: center!important;
    }
}

#main-container {
    height: 100%;
    min-width: 480px;
}

.column {
    border-radius: 5px;
    background-color: white;
}

.button {
    position: relative;
    text-align: center;
    color: #FFF;
    font-weight: 800;
    border: none;
    border-radius: 5px;
    text-shadow: none;
    box-shadow: 0 -0.3em 0 0 rgba(34, 36, 38, .15) inset;
}

.button:after {
    position: absolute;
    z-index: 1;
    visibility: hidden;
    width: 100px;
    height: 0;
    font-size: 0;
    font-weight: initial;
    line-height: 1em;
    content: attr(data-tooltip);
    color: #FFF;
    border-radius: 10px;
    background-color: #6510bc;
    transition: all 0.3s ease-in-out;
}

#products-column .plus-button:after {
    bottom: 110%;
    right: -170%;
}

#products-column .minus-button:after {
    bottom: 110%;
    right: -160%;
}

#products-column #add-button:after {
    width: 220px;
    bottom: 110%;
    right: -45%;
}

#products-column .buy-button:after {
    width: 150px;
    bottom: 110%;
    right: -55%;
}

#products-column .dismiss-button:after {
    width: 70px;
    bottom: 110%;
    right: -100%;
}

.button:hover:after{
    visibility: visible;
    height: 10px;
    padding: 10px;
    font-size: 12px;
}

/* CSS rules for the column where remained and bought products will be displayed */

#status-column {
    float: right;
    width: 25%;
    padding: 5px;
}

.status-column-label {
    padding: 0.8%;
    text-align: left;
    border-bottom: 1px solid rgba(34, 36, 38, .15);
}

.status-column-list {
    padding: 4% 0 3% 1%;
    text-align: left;
    font-size: 0.64285714rem;
}

#status-column #sl-product-template{
    display: none;
}

#status-column #bought {
    border-top: 1px solid rgba(34, 36, 38, .15);
}

#status-column .product {
    display: inline-block;
    padding: .5833em .833em;
    margin: 0 .14285714em;
    margin-bottom: 3px;
    color: rgba(0, 0, 0, .6);
    border-radius: 5px;
    background-color: #E8E8E8;
}

#status-column .product .quantity {
    display: inline-block;
    min-width: 2em;
    min-height: 2em;
    padding: .001em;
    text-align: center;
    color: #FFF;
    border-radius: 20px;
    background-color: #F2711C;
    border-color: #F2711C;
}

/* CSS rules for the column where products to buy will be displayed */

#products-column {
    float: left;
    width: 70%;
    padding: 10px;
    padding-bottom: 2px;
}

#products-column #input-row {
    padding: 1% 1% 2% 1%;
    text-align: center;
}

#products-column #input-row #input-field {
    padding: .67861429em 1em;
    width: 77%;
    border-radius: 5px;
    border: 1px solid rgba(34, 36, 38, .15);
}

#products-column #input-row #add-button {
    padding: .67861429em 1em;
    width: 15%;
    height: 16%;
    text-align: center;
    font-size: 1em;
    font-weight: 700;
    background-color: #2185D0;
}

#products-column #product-list #product-template{
    display: none;
}

#products-column #product-list .product {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    border-top: 1px solid rgba(34, 36, 38, .15);
}

#products-column #product-list .prod-name {
    float: left;
    width: 105px;
    padding: 8px 0 5px 5px;
    text-align: left;
}

#products-column #product-list .quantity-modifiers {
    padding-top: 10px;
    padding-bottom: 10px;
}

#products-column #product-list .quantity {
    line-height: 1;
    vertical-align: baseline;
    margin: 0 .14285714em;
    background-color: #E8E8E8;
    background-image: none;
    padding: .5833em .833em;
    color: rgba(0,0,0,.6);
    text-transform: none;
    font-weight: 700;
    border: 0 solid transparent;
    border-radius: .28571429rem;
    transition: background .1s ease
}

#products-column #product-list .minus-button {
    line-height: 6px;
    padding: 12px 13px 12px 13px;
    border-radius: 20px;
    background-color: #DB2828;
    opacity: .45;
}

#products-column #product-list .plus-button {
    padding: 12px 10px 12px 10px;
    line-height: 6px;
    border-radius: 20px;
    background-color: #21BA45;
}

#products-column #product-list .actions {
    float: right;
    width: 150px;
    text-align: right;
    padding-right: 5px;
}

#products-column #product-list .buy-button {
    padding: 10px 17px 10px 17px;
    color: rgba(0, 0, 0, .6);
    font-size: .71428571rem;
    font-weight: 200;
    background: linear-gradient(transparent, rgba(0, 0, 0, .05)) #F8F8F8;
    box-shadow: 0 0 0 1px rgba(34, 36, 38, .15) inset, 0 -0.3em 0 0 rgba(34, 36, 38, .15) inset;
}

#products-column #product-list .dismiss-button {
    padding: 7px 10px 7px 10px;
    font-size: .71428571rem;
    background-color: #DB2828;
    box-shadow: 0 0 0 1px rgba(34, 36, 38, .15) inset, 0 -0.3em 0 0 rgba(34, 36, 38, .15) inset;
}

/* CSS rules for the badge */

#info-badge {
    position: fixed;
    bottom: -50px;
    left: 5%;
    padding: 5px;
    width: 150px;
    color: #FFFFFF;
    text-align: center;
    border-radius: 10px 10px;
    background-color: #6510bc;
    transition: all 1s ease;
}

#info-badge #title {
    margin-bottom: 10px;
    margin-top: 5px;
}

#info-badge #author {
    margin-top: 5px;
    padding-bottom: 10px;
    font-size: 1em;
    font-weight: 700;
}

#info-badge:hover {
    bottom: -20px;
    background-color: #2185D0;
    transition: all 1s ease;
}